<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forU</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/landing.css">
</head>

<body>

    <div class="container-fluid">
        <div id="landing-header">
            <h1 class="mb-0">Welcome to Yourcamp!</h1><br>
            <a href="/campgrounds" class="btn btn-success mb-2">View All Campgrounds</a>
            <p style="color: blanchedalmond;">By Suraj Jha</p>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <%- include('./partials/footer') %>